* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #3a241d;
  text-align: center;
}

.container {
  background-color: #cbcbcb;
  width: 15%;
  top: 0px;
  position: absolute;
  height: 100%;
  padding: 10px;
}

#left-container {
  left: 0px;
}

#right-container {
  right: 0px;
}

.plant-holder {
  position: relative;
  height: 13%;
  left: -23px;
}

.plant {
  position: absolute;
  max-width: 135%;
  max-height: 135%;
  z-index: 2;
}

.jar-walls {
  height: 80%;
  width: 60%;
  background: #d1e1df;
  border-radius: 3rem;
  position: absolute;
  bottom: 0.5%;
  left: 20%;
  opacity: 0.5;
  z-index: 1;
}

.jar-glossy-short {
  background: #e2fcfd;
  width: 3%;
  height: 5%;
  border-radius: 3rem;
  position: absolute;
  bottom: 48%;
  left: 6%;
}

.jar-glossy-long {
  background: #e2fcfd;
  width: 3%;
  height: 20%;
  border-radius: 3rem;
  position: absolute;
  bottom: 24%;
  left: 6%;
}

.jar-top {
  width: 50%;
  height: 5%;
  background: #d1e1df;
  position: absolute;
  bottom: 80.5%;
  left: 25%;
  opacity: 0.7;
  z-index: 1;
}

.jar-bottom {
  width: 50%;
  height: 1%;
  background: #d1e1df;
  position: absolute;
  bottom: 0%;
  left: 25%;
  opacity: 0.7;
}

.dirt {
  width: 59%;
  height: 5%;
  background: #3a241d;
  position: absolute;
  border-radius: 0 0 3rem 3rem;
  bottom: 1.2%;
  left: 20.5%;
  opacity: 0.7;
  z-index: -1;
}
