:root {
  --terrarium-color: rgba(95, 160, 137, 0.554);
  --glossy-color: #f4ffff;
  --dirt-color: rgb(27, 7, 7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 15%;
  height: 100%;
  top: 0;
}

.plant-holder {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.plant {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 2;
}

#title {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#terrarium {
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jar-walls {
  background-color: var(--terrarium-color);
  width: 90%;
  height: 90%;
  position: absolute;
  bottom: 1%;
  opacity: 0.2;
  border-radius: 2rem;
  z-index: 1;
}

.jar-glossy-long {
  background-color: var(--glossy-color);
  width: 4%;
  height: 10%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  opacity: 0.7;
  border-radius: 1rem;
}

.jar-glossy-short {
  background-color: var(--glossy-color);
  width: 4%;
  height: 4%;
  position: absolute;
  bottom: 21%;
  left: 5%;
  opacity: 0.7;
  border-radius: 1rem;
}

.jar-top {
  background-color: var(--terrarium-color);
  width: 75%;
  height: 5%;
  position: absolute;
  bottom: 91%;
  opacity: 0.6;
  border-radius: 0.5rem 0.5rem 0 0;
}

.jar-bottom {
  background-color: var(--terrarium-color);
  width: 75%;
  height: 1%;
  position: absolute;
  bottom: 0;
  opacity: 0.6;
  border-radius: 0 0 0.5rem 0.5rem;
}

.dirt {
  background-color: var(--dirt-color);
  width: 88%;
  height: 5%;
  position: absolute;
  bottom: 1.5%;
  opacity: 0.9;
  border-radius: 0 0 2rem 2rem;
  z-index: 0;
}
